# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# env
.env

# build
dist/
build/

# IDEs
.vscode/
.idea/

# logs
npm-debug.log*

# Personal media and large files (adjust or remove entries you need)
Pictures/
Videos/
snap/
UrbanTerror.zip
